@import "../../global.scss";
ul {
  font-family: "Open Sans", sans-serif;
}
.skill-container {
  &::-webkit-scrollbar {
    display: none;
  }
  .section-1 {
    padding: 5px;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    @include mobile {
      font-size: 30px;
    }
  }
  .tools-img-container {
    padding: 10px;
    img {
      width: 70px;
      transition: all 1s ease;
      margin-left: 5px;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .section-tools {
    margin: 20px;
    border: 1px solid;
    background-color: white;
    padding: 15px;
    transition: all 1s ease;
    &:hover {
      transform: scale(1.02);
    }

    .tools-list {
      padding: 10px;
      font-size: large;
      li {
        padding-top: 5px;
      }
    }
  }
  .section-cloud {
    margin: 20px;
    border: 1px solid;
    background-color: white;
    padding: 15px;
    transition: all 1s ease;
    &:hover {
      transform: scale(1.02);
    }
    .cloud-image-container {
      padding: 10px;
      img {
        width: 70px;
        height: 70px;
        margin-left: 5px;
        transition: all 1s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      .mongo-db {
        width: 100px;
      }
    }
    .cloud-list {
      padding: 10px;
      font-size: large;
      li {
        padding-top: 5px;
      }
    }
  }
}
