@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        padding: 5px;
        @include mobile {
          width: 200px;
          height: 20px;
          padding: 5px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;
        padding: 5px;
        @include mobile {
          width: 200px;
          height: 100px;
          padding: 5px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
  .scroll-to-top-button {
    position: relative;
    top: 85%;
    padding: 20px;
    margin-right: 50px;
    border: none;
    border-radius: 50%;
    background-color: crimson;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
  }

  .scroll-to-top-button:hover {
    transform: translateY(-10px);
  }
}
